<body>
    <%- include("partials/header.ejs", { show: show }) %>
    <div class="books">
        <h1 class="heading_text"><b>My Personal Library: </b><i>Books I've Enjoyed and Reviewed</i></h1>
        <% data.forEach(book => { %>
            <div class="book_item">
                <div class="empty-row"></div>
                
                <div class="edit">
                    <form action="/delete" method="POST">
                        <button type="submit" name="deleteid" value="<%= book.id %>" class="delete-button">Delete</button>
                    </form>
                </div>
                
                <div class="main-content">
                    <div class="book_image">
                        <img src="<%= book.cover_url  %>" alt="Book Cover" style="width: 200px;">
                    </div>
                    <div class="book_details">
                        <ul>
                            <li>
                                <strong><i>Book Name: </i></strong> <%= book.name %>
                            </li>
                            <div class="rating_edit">
                                <li>
                                    <strong><i>My Ratings:   </i></strong>
                                    <span id="rating-display-<%= book.id %>"><%= book.rattings %>/10</span></li>
                                    <form action="/edit" method="post">
                                        <button id="edit-rating-<%= book.id %>" type="button" onclick="editRating('<%= book.id %>')">
                                            <img class="icon" src="/images/pencil-solid.svg" alt="pencil image" style="border: none;">
                                        </button>
                                        <input type="hidden" name="bookId" value="<%= book.id %>">
                                        <input id="rating-input-<%= book.id %>" name="rating" type="number" min="1" max="10" step="0.1" value="<%= book.rattings %>" style="display:none;">
                                        <button id="done-rating-<%= book.id %>" type="submit" style="display:none;">
                                            <img class="icon" src="/images/check-solid.svg" alt="tick image" style="border: none;">
                                        </button>
                                    </form>
                            </div>
                            <li>
                                <strong><i>Date: </i></strong> <%= (book.event_date).toLocaleDateString('en-IN', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                            </li>
                            <li>
                                <strong><i>Average Rating: </i></strong> <%= book.average_ratting %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="description">
                    <p><strong><i>Description: </i></strong></p>
                    <form action="/edit" method="post">
                        <input type="hidden" name="bookId" value="<%= book.id %>">
                        <p id="description-display-<%= book.id %>"><%= book.description %></p>
                        <button id="edit-description-<%= book.id %>" type="button" onclick="editDescription('<%= book.id %>')">
                            <img class="icon" src="/images/pencil-solid.svg" alt="pencil image" style="border: none;">
                        </button>
                        <textarea id="description-input-<%= book.id %>" name="description" style="display:none;"><%= book.description %></textarea>
                        <button id="done-description-<%= book.id %>" type="submit" style="display:none;">
                            <img class="icon" src="/images/check-solid.svg" alt="tick image" style="border: none;">
                        </button>
                    </form>
                </div>
                <p id="author_name"><strong><i>Author: </i></strong><span><%= book.author %></span></p>
            </div>
        <% }) %>
    </div>
    <%- include("partials/footer.ejs") %>

    <script>
        function editRating(bookId) {
            document.getElementById('rating-display-' + bookId).style.display = 'none';
            document.getElementById('rating-input-' + bookId).style.display = 'inline-block';
            document.getElementById('edit-rating-' + bookId).style.display = 'none';
            document.getElementById('done-rating-' + bookId).style.display = 'inline-block';
        }

        function editDescription(bookId) {
            document.getElementById('description-display-' + bookId).style.display = 'none';
            document.getElementById('description-input-' + bookId).style.display = 'inline-block';
            document.getElementById('edit-description-' + bookId).style.display = 'none';
            document.getElementById('done-description-' + bookId).style.display = 'inline-block';
        }
        
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error')) {
            const errorMessage = urlParams.get('error'); // Get the error message from the URL
            alert(errorMessage);
        }
    </script>
</body>
